<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osiris.character.mapper.CharaterMapper">

    <resultMap type="com.osiris.character.entity.Character" id="CharacterMap" extends="com.osiris.character.dao.CharacterDao.CharacterMap">
    </resultMap>

</mapper>